.main{
background-color: antiquewhite;
margin: 50px;
border: solid 2px #ff0000;
text-align: center;
height: 75vh;
}

.child{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 140px;
    background-color: beige;
    border: solid 2px black;
    height: 60%;
    width: 80%;
}

.child1{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child2{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.child1>img{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child2{
    display: flex;
    flex-direction: column;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button{
    width: 40%;
}